<app-mq-status></app-mq-status>

<div id="raw">

    <h2>Messages</h2>
    <p>{{count}} total</p>

    <h3 *ngIf="count">Latest:</h3>
      <!-- <pre>{{message | async}}</pre> -->
      <pre>{{message.received_at.toLocaleTimeString()}} {{message.topic}}: {{message.message}}</pre>
    <!-- <pre>{{messages.received_at.toLocaleTimeString() | async}} {{messages.topic | async}}: {{messages.message | async}}</pre> -->

    <div *ngIf="mq.length" class="panel panel-default">
        <div class="panel-heading">
            <span>History:</span>
        </div>
        <div class="panel-body" class="debug-mq-panel">
            <ol reversed>
                <li *ngFor="let m of mq | reverse ">
                  <pre>{{m.received_at.toLocaleTimeString()}} {{m.topic}}: {{m.message}}</pre>
                </li>
            </ol>
        </div>
    </div>
</div>
